<mat-card style="padding-top: 20px;">
    <mat-card-title style="padding-left: 20px;">Create New User</mat-card-title>
    <mat-card-content style="padding-left: 20px;">
        <form [formGroup]="addUserForm" (submit)="createUser()">

            <p>
                <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" formControlName="username">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Email Address" formControlName="email">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="addUserForm.controls['email'].errors && addUserForm.controls['email'].hasError('required')">
                    Email address is required
                </mat-error>
                <mat-error *ngIf="addUserForm.controls['email'].errors && addUserForm.controls['email'].hasError('email')">
                    Email address is not valid
                </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Phone Number" formControlName="phone">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="addUserForm.controls['phone'].errors && addUserForm.controls['phone'].hasError('required')">
                    Phone number is required
                </mat-error>
                <mat-error *ngIf="addUserForm.controls['phone'].errors && addUserForm.controls['phone'].hasError('maxLength')">
                    Phone number should be 10 digits
                </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" formControlName="address.street">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </p>

            <p>
                <button mat-raised-button color="primary" [disabled]="!addUserForm.valid">Create User</button>
            </p>

        </form>
    </mat-card-content>
</mat-card>