<mat-card class="user-details">
    <mat-card-content *ngIf="userDetails">
        <mat-card-title> {{userDetails.name}} </mat-card-title>
        <mat-card-content>
            {{userDetails.id}}<br>
            {{userDetails.username}}<br>
            {{userDetails.email}}<br>
            {{userDetails.address.street}},
            {{userDetails.address.suite}},
            {{userDetails.address.city}},
            {{userDetails.address.zipcode}},
            ({{userDetails.address.geo.lat}}, {{userDetails.address.geo.lng}})<br>
            {{userDetails.phone}}<br>
            {{userDetails.website}}<br>
            {{userDetails.company.name}}<br>
        </mat-card-content>
    </mat-card-content>
  </mat-card>
  