<mat-card class="user-details">
    <mat-card-title>Update User</mat-card-title>
    <mat-card-content style="padding-top: 20px;">
        <div *ngIf="dataLoaded">
            <form [formGroup]="editUserForm" (submit)="updateUser()">
                <p>
                    <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName="name">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" formControlName="username">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="Email Address" formControlName="email">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="Phone Number" formControlName="phone">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Address" formControlName="address.street">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                </p>

                <p>
                    <button mat-raised-button color="primary">Update User</button>
                </p>
            </form>
        </div>
    </mat-card-content>
</mat-card>